
.messages-container::-webkit-scrollbar {
  display: none;
  
}
.messages-container{
  height: 530px;
  padding: 5px;
}
@media(max-width:414px) {
  .messages-container{
    height: 100vh;
  }
}
.message {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  word-wrap: break-word;
  
}
  .user {
    align-self: flex-end;
    text-align: end;
    background-color: #2561af;  
  }
  .sender {
    align-self: flex-start;
    background-color: #f1f0f0;
  }
 .textInput{
  width: 90%;
  border: 1px solid black;
 }
 .messagebtn{
  width: 10%;
  
 }