.profileContainer{
    padding: 10px;
    margin: 0;
    height:100% ;
}
.profilePhoto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 2px 3px 5px rgb(0, 0, 0);
}
.hidden{
    display: none;
}
.show{
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    margin: auto;
    top: 200px;
    padding: 2px;
    border-radius: 5px;
    left: 420px;
    box-shadow: 0px 5px 10px black;
}
.cross:hover{
    background-color: rgb(124, 118, 118);
    border-radius: 5px;
}